{% extends "base.html" %}

{% block content %}
<div class="container my-4">
    <h1 class="mb-4">Sources & Credits</h1>
    
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Image Credits</h2>
            <p class="card-text">All images are from Unsplash.com and are free to use under the Unsplash License.</p>
            
            <h3 class="mt-4">Recipe Images</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Classic Pizza</strong>: 
                    <a href="https://unsplash.com/photos/MQUqbmszGGM" target="_blank">
                        Photo by Ivan Torres on Unsplash
                    </a>
                </li>
                <li class="list-group-item">
                    <strong>Mac and Cheese</strong>: 
                    <a href="https://unsplash.com/photos/9WXqJj_qWbM" target="_blank">
                        Photo by Karolina Kolodziejczak on Unsplash
                    </a>
                </li>
                <li class="list-group-item">
                    <strong>Garden Salad</strong>: 
                    <a href="https://unsplash.com/photos/IGfIGP5ONV0" target="_blank">
                        Photo by Anna Pelzer on Unsplash
                    </a>
                </li>
                <li class="list-group-item">
                    <strong>Smoothie Bowl</strong>: 
                    <a href="https://unsplash.com/photos/WcN5BNWzLXE" target="_blank">
                        Photo by Monika Grabkowska on Unsplash
                    </a>
                </li>
                <li class="list-group-item">
                    <strong>Banana Bread</strong>: 
                    <a href="https://unsplash.com/photos/rwBJaJdesGg" target="_blank">
                        Photo by Mae Mu on Unsplash
                    </a>
                </li>
                <li class="list-group-item">
                    <strong>Garlic Bread</strong>: 
                    <a href="https://unsplash.com/photos/x00CzBt4Dfk" target="_blank">
                        Photo by Nadya Spetnitskaya on Unsplash
                    </a>
                </li>
                <li class="list-group-item">
                    <strong>Lemon Garlic Shrimp</strong>: 
                    <a href="https://unsplash.com/photos/D-vDQMTfAAU" target="_blank">
                        Photo by Louis Hansel on Unsplash
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Technologies Used</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Flask</strong>: Web framework - 
                    <a href="https://flask.palletsprojects.com/" target="_blank">Documentation</a>
                </li>
                <li class="list-group-item">
                    <strong>Bootstrap</strong>: CSS Framework - 
                    <a href="https://getbootstrap.com/" target="_blank">Documentation</a>
                </li>
                <li class="list-group-item">
                    <strong>Font Awesome</strong>: Icons - 
                    <a href="https://fontawesome.com/" target="_blank">Website</a>
                </li>
                <li class="list-group-item">
                    <strong>scikit-learn</strong>: Machine Learning Library - 
                    <a href="https://scikit-learn.org/" target="_blank">Documentation</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Licenses</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Unsplash License</strong>: 
                    <a href="https://unsplash.com/license" target="_blank">
                        All photos can be downloaded and used for free
                    </a>
                </li>
                <li class="list-group-item">
                    <strong>Font Awesome Free License</strong>: 
                    <a href="https://fontawesome.com/license/free" target="_blank">
                        Icons used under Font Awesome Free License
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
