{% extends "base.html" %}

{% block content %}
<div class="container my-4">
    <h1 class="mb-4">Sources & Credits</h1>
    
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Image Credits</h2>
            <p class="card-text">All images are from Unsplash.com and are free to use under the Unsplash License.</p>
            
            <h3 class="mt-4">Recipe Images</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Classic Pizza</strong>: 
                    <a href="https://unsplash.com/photos/MQUqbmszGGM" target="_blank">
                        Photo by Ivan Torres on Unsplash
                    </a>
                </li>
                <li class="list-group-item">
                    <strong>Mac and Cheese</strong>: 
                    <a href="https://unsplash.com/photos/bowlful-of-elbow-salad-4qzaeR_sTYA" target="_blank">
                        Photo by Hermes Rivera on Unsplash
                    </a>
                </li>
                <li class="list-group-item">
                    <strong>Garden Salad</strong>: 
                    <a href="https://unsplash.com/photos/IGfIGP5ONV0" target="_blank">
                        Photo by Anna Pelzer on Unsplash
                    </a>
                </li>
                <li class="list-group-item">
                    <strong>Smoothie Bowl</strong>: 
                    <a href="https://unsplash.com/photos/oval-ceramic-plate-with-and-green-and-orange-food-4Q_xlBOaCso" target="_blank">
                        Photo by Odiseo Castrejon on Unsplash
                    </a>
                </li>
                <li class="list-group-item">
                    <strong>Salmon</strong>: 
                    <a href="https://unsplash.com/photos/bowl-of-stew-salmon-8pUjhBm4cLw" target="_blank">
                        Photo by Jennifer Pallian on Unsplash
                    </a>
                </li>
                <li class="list-group-item">
                    <strong>Banana Bread</strong>: 
                    <a href="https://unsplash.com/photos/brown-bread-on-red-and-white-plaid-textile-8GC_lNzugZU" target="_blank">
                        Photo by Jeff Vanderspank on Unsplash
                    </a>
                </li>
                <li class="list-group-item">
                    <strong>Quinoa Bowl</strong>: 
                    <a href="https://unsplash.com/photos/sliced-fruit-and-vegetables-sTPy-oeA3h0" target="_blank">
                        Photo by Dose Juice on Unsplash
                    </a>
                </li>
                <li class="list-group-item">
                    <strong>Garlic Bread</strong>: 
                    <a href="https://unsplash.com/photos/brown-bread-on-brown-wicker-basket-N4gtuEZ5gWc" target="_blank">
                        Photo by Mohamed Hassouna on Unsplash
                    </a>
                </li>
                <li class="list-group-item">
                    <strong>Lemon Garlic Shrimp</strong>: 
                    <a href="https://unsplash.com/photos/cooked-shrimp-with-sliced-of-lime-and-basil-TqOEGdRNowY" target="_blank">
                        Photo by Vino Li on Unsplash
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Technologies Used</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Flask</strong>: Web framework - 
                    <a href="https://flask.palletsprojects.com/" target="_blank">Documentation</a>
                </li>
                <li class="list-group-item">
                    <strong>Bootstrap</strong>: CSS Framework - 
                    <a href="https://getbootstrap.com/" target="_blank">Documentation</a>
                </li>
                <li class="list-group-item">
                    <strong>Font Awesome</strong>: Icons - 
                    <a href="https://fontawesome.com/" target="_blank">Website</a>
                </li>
                <li class="list-group-item">
                    <strong>scikit-learn</strong>: Machine Learning Library - 
                    <a href="https://scikit-learn.org/" target="_blank">Documentation</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Licenses</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Unsplash License</strong>: 
                    <a href="https://unsplash.com/license" target="_blank">
                        All photos can be downloaded and used for free
                    </a>
                </li>
                <li class="list-group-item">
                    <strong>Font Awesome Free License</strong>: 
                    <a href="https://fontawesome.com/license/free" target="_blank">
                        Icons used under Font Awesome Free License
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
